.vegas-loading {
	border-radius: 10px;
	background: #000;
	background: rgba(0,0,0,0.7);
	background: url(vegas/images/loading.gif) no-repeat center center; /* Loading Gif by http://preloaders.net/ */
	height: 32px;
	left: 20px;
	position: fixed;
	top: 20px;
	width: 32px; 
	z-index: 0;
}

.vegas-overlay {
	background: transparent url(vegas/overlays/01.png);
	opacity: 0.5;
	z-index: -1;
}

.vegas-background {
	-ms-interpolation-mode: bicubic;
	image-rendering: optimizeQuality;
    max-width: none !important; /* counteracts global img modification by twitter bootstrap library */
	z-index: -2;
}

.vegas-overlay,
.vegas-background {
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}


@modal-border: 0px;

.modal-styling {
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}


.dynamic-modal {
	width: auto;
	height: auto;
	max-width: 100% !important;
	max-height: 100% !important;
	background-color: #555;
	.modal-styling;
	padding: @modal-border;
	position: fixed;
	right: auto;

	.dynamic-modal-body {
		text-align: center;
		.modal-styling;
	}

	.dynamic-modal-footer {
		background-color: #000;
		text-align: right;
		z-index: 500;
		position: absolute;
		bottom: 4px;
		right: 4px;
		height: 30px;
		opacity: 0.8;
		.modal-styling;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;

		.title {
			color: #fff;
			line-height: 30px;
			padding: 0px 0px 0px 0px;
		}
	}

	.dynamic-modal-button {
		button.transparent {
			color: #FFF;
			text-decoration: none;
		}
		button.transparent:hover {
			color: yellow;
			text-decoration: none;
		}
	}

	.dynamic-modal-left {
		padding: 0px;
		margin: 0px;
		background-color: #000;
		opacity: 0.5;
		z-index: 300;
		position: fixed;
		top: 0px;
		left: 0px;
		opacity: 0.8;
		.modal-styling;
		height: 100%;
		width: 40px;
		button.top {
			position: fixed;
			top: 0px;
			margin-top: 10px;
			z-index: 350;
		}
		.middleLayer {
			margin-top: -75px;
			height: 150px;
			top: 50%;
			position: fixed;
			button.middle {
				margin-top: 55px;
			}
		}
		button.bottom {
			position: fixed;
			bottom: 0px;
			margin-bottom: 10px;
			z-index: 350;
		}

		.dynamic-modal-button
	}

	.dynamic-modal-right {
		padding: 0px;
		margin: 0px;
		background-color: #000;
		opacity: 0.5;
		z-index: 300;
		position: fixed;
		top: 0px;
		right: 0px;
		opacity: 0.8;
		.modal-styling;
		height: 100%;
		width: 40px;
		button.top {
			position: fixed;
			top: 0px;
			margin-top: 10px;
			z-index: 350;
		}
		.middleLayer {
			margin-top: -75px;
			height: 150px;
			top: 50%;
			position: fixed;
			button.middle {
				margin-top: 55px;
			}
		}
		button.bottom {
			position: fixed;
			bottom: 0px;
			margin-bottom: 10px;
			z-index: 350;
		}

		.dynamic-modal-button
	}

	.dynamic-modal-right-corner {
		padding: 0px;
		margin: 0px;
		background-color: #000;
		opacity: 0.5;
		z-index: 300;
		position: fixed;
		top: 0px;
		right: 0px;
		opacity: 0.8;
		.modal-styling;
		height: auto !important;
		width: 40px;
		button.bottom {
			position: fixed;
			bottom: 0px;
			margin-bottom: 0px;
			z-index: 350;
		}

		.dynamic-modal-button
	}
}

.exif {
	position: absolute;
	bottom: @modal-border;
	left: @modal-border;
	background-color: #111;
	opacity: 1;
	color: @TitleColor;
	padding: 6px;
	z-index: 500;

	li > div {
		float: none;
		clear: both;
		.exifKey {
			width: 100px;
			float: left;
		}

		.exifVal {
			width: auto;
			float: right;
		}
	}
}


