<script type="text/ng-template" id="photo-block.html"> 
	<div class="pull-center shadow">
		<a ng-click="showPhotoBridge({index: index})">
			<img class="" ng-src="{{data.thumb.url}}" alt="" />
			<h2>{{data.title}}</h2>
		</a>
	</div>
</script>

<div modal="modalIsVisible" close="closePhoto()" options="modalOpts"  maximize-size-enabled="modalIsVisible">
	<div>
		<img ng-src="{{actPhoto().image.url}}" width="{{actPhoto().image.width}}" width="{{actPhoto().image.height}}" ah-swipeleft="prevPhoto()" ah-swiperight="nextPhoto()" ah-swipeleft-options="{swipe_velocity: 0.1}" />
	</div>

	<div ng-show="exifInfoEnabled">
		<ul class="exif">
			<li ng-repeat="entry in actPhoto().exifTuned">
				<div ng-repeat="(key, val) in entry">
					<div class="exifKey">{{key}}</div>
					<div class="exifVal">{{val}}</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="modal-footer">
		<div class="pull-left">{{actPhoto().title}}</div>
		<button class="btn btn-warning cancel" ng-click="prevPhoto()">Prev</button>
		<button class="btn btn-warning cancel" ng-click="nextPhoto()">Next</button>
		<button class="btn btn-warning cancel" ng-click="closePhoto()">X</button>
	</div>
</div>

<div 
global-keydown="{8: 'prevPhoto()', 37: 'prevPhoto()', 32: 'nextPhoto()', 39: 'nextPhoto()', 13: 'toggleFsMode()', 73: 'toggleExifInfo()'}" global-keydown-enabled="modalIsVisible"
toggle-fs-mode="fsModeEnabled"
></div>


<!-- Photos -->
<section id="photos" class="box">
	<div class="row-fluid">
		<div class="span12 header first-header">
			<hgroup>
				<a href="" ng-click="goBack()" class="goback">JDI ZPĚT</a>
				<h2>Fotky</h2>
				<h3>Náhledy vyfocených fotografií</h3>
			</hgroup>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12 content">
				<ul class="thumbnails thumbnails-list">
					<li class="span3 row-fluid thumbnail" ng-repeat="item in photosData.items">
						<picasa-photo data="item" index="$index" include="photo-block.html" show-photo-bridge="openPhoto(index)" />
					</li>
				</ul>

				<button ng-show="photosData.nextLink && photosData.nextLink.length > 0" ng-click="getNextItems(photosData)" inf-scroll="getNextItems(photosData)" inf-scroll-is-disabled="scrollIsDisabled()">Další fotky</button>
		</div>
	</div>
</section>
