<script type="text/ng-template" id="photo-block.html"> 
	<div class="thumbnail">
		<a  ng-click="showPhotoBridge({index: index})">
			<img ng-src="{{data.thumb.src}}" alt="" />
			<h3>{{data.title}}</h3>
			<p>{{data.description}}</p>
		</a>
	</div>
</script>

<div modal="modalIsVisible" close="closePhoto()" options="modalOpts"  maximize-size-enabled="modalIsVisible">
	<div>
		<img ng-src="{{actPhoto().media.image.url}}" width="{{actPhoto().width}}" width="{{actPhoto().height}}" ah-swipeleft="prevPhoto()" ah-swiperight="nextPhoto()" ah-swipeleft-options="{swipe_velocity: 0.1}" />
	</div>

	<div class="modal-footer">
		<div class="pull-left">{{actPhoto().title}}</div>
		<button class="btn btn-warning cancel" ng-click="prevPhoto()">Prev</button>
		<button class="btn btn-warning cancel" ng-click="nextPhoto()">Next</button>
		<button class="btn btn-warning cancel" ng-click="closePhoto()">X</button>
	</div>
</div>

<div global-keydown="{37: 'prevPhoto()', 39: 'nextPhoto()'}" global-keydown-enabled="modalIsVisible"></div>

<a href="" ng-click="goBack()">JDI ZPĚT</a>

<!-- Photos -->
<section id="photos" class="box">
	<div class="row-fluid">
		<div class="span12 header">
			<hgroup>
				<h2>Fotky</h2>
				<h3>Náhledy vyfocených fotografií</h3>
			</hgroup>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12 content">
				<ul class="thumbnails thumbnails-list">
					<li class="span3 row-fluid" ng-repeat="item in photosData.items">
						<picasa-photo data="item" index="$index" include="photo-block.html" show-photo-bridge="openPhoto(index)" />
					</li>
				</ul>

				<button ng-show="photosData.nextLink && photosData.nextLink.length > 0" ng-click="getNextItems(photosData)" inf-scroll="getNextItems(photosData)" inf-scroll-is-disabled="scrollIsDisabled()">Další fotky</button>
		</div>
	</div>
</section>
