#albums {
	.one-album-row {

		padding: 20px 0px;
		
		.image {	
			.thumbnail {
				border: 0px solid #fff;
				max-width: 288px;
				height: auto;
				border: 1px solid #444;
				border-radius: 0px;

				img {
					opacity:1;
					&:hover{
						opacity:.85;
					}
				}
			}
		}

		.description {
			padding: 5px 10px 5px 5px;
			h2 {
				margin: 9px 0px 0px 0px;
				color: @TitleColorDark;
				font-size: 28px;
				line-height: 32px;
				text-align: left;
			}

			h3 {
				margin-top: 17px;
				color: #000;
				font-size: 16px;
				line-height: 16px;
				text-align: left;
			}

			p {
				margin-top: 15px;
				font-size: 16px;
				line-height: 22px;
				color: #000;
				display: block;
				text-align: left;
			}
		}
	}
}


/* Landscape phones and down */
@media (max-width: 767px)
{
	#albums .one-album-row .description {
		max-width: 288px !important;
		margin: 0 auto !important;
		float: none !important;
		text-align: center !important;
	}
}
